/* DecisionCard.module.css */

.wrapper {
  max-width: 240px;
  perspective: 1000px;
  position: absolute;
}

.card {
  max-width: 240px;
  position: relative;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 16px;
}

.front {
  background: white;
  transform: rotateY(180deg);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.back img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.icon {
  width: 40px;
}

.decisionCardWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
